<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDCycleScrollView</key>
	<array>
		<dict>
			<key>EventLabel</key>
			<string>首页-顶部Banner点击</string>
			<key>EventId</key>
			<string>user_click_banner</string>
		</dict>
	</array>
	<key>TZCouponCell</key>
	<array>
		<dict>
			<key>EventSelectorName</key>
			<string>jumpGameDetailPressed:</string>
			<key>EventId</key>
			<string>enter_game_detail</string>
			<key>EventLabel</key>
			<string>进入游戏详情</string>
		</dict>
	</array>
	<key>TZSegmentTitleView</key>
	<array>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>giftpackage</key>
				<string>10001</string>
			</dict>
			<key>EventSelectorName</key>
			<string>btnClick:</string>
			<key>EventId</key>
			<string>game_detail_click_giftpackage</string>
			<key>EventLabel</key>
			<string>游戏详情页-礼包点击</string>
		</dict>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>server</key>
				<string>10002</string>
			</dict>
			<key>EventSelectorName</key>
			<string>btnClick:</string>
			<key>EventId</key>
			<string>game_detail_click_server</string>
			<key>EventLabel</key>
			<string>游戏详情页-开服点击</string>
		</dict>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>giftpackage</key>
				<string>10003</string>
			</dict>
			<key>EventSelectorName</key>
			<string>btnClick:</string>
			<key>EventId</key>
			<string>game_detail_click_strategy</string>
			<key>EventLabel</key>
			<string>游戏详情页-攻略点击</string>
		</dict>
	</array>
	<key>TZSearchCategoryView</key>
	<array>
		<dict>
			<key>EventSelectorName</key>
			<string>tagBtnPressed:</string>
			<key>EventId</key>
			<string>user_search_game</string>
			<key>EventLabel</key>
			<string>用户进行搜索操作</string>
		</dict>
	</array>
	<key>TZGameListCell</key>
	<array>
		<dict>
			<key>EventSelectorName</key>
			<string>downloadPressed:</string>
			<key>EventId</key>
			<string>user_download_game</string>
			<key>EventLabel</key>
			<string>用户下载游戏</string>
		</dict>
	</array>
	<key>TZSearchResultViewController</key>
	<array/>
	<key>TZHomeCategoryCell</key>
	<array>
		<dict>
			<key>EventId</key>
			<string>game_detail_from_recommend</string>
			<key>EventLabel</key>
			<string>首页-热门推荐-点击游戏</string>
		</dict>
		<dict>
			<key>EventId</key>
			<string>game_more_from_recommend</string>
			<key>EventSelectorName</key>
			<string>clickMorePressed:</string>
			<key>EventLabel</key>
			<string>首页-热门推荐-点击更多</string>
		</dict>
	</array>
	<key>TZGameCategoryController</key>
	<array>
		<dict/>
	</array>
	<key>TZGameManagerViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZGameRecommendListController</key>
	<array>
		<dict/>
	</array>
	<key>TZForgetPwdViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZRegisterViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZLoginViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZDownloadViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZSearchViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZGameHomeViewController</key>
	<array/>
	<key>TZGameServerController</key>
	<array>
		<dict/>
	</array>
	<key>TZMineViewController</key>
	<array>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>customService</key>
				<string>100</string>
			</dict>
			<key>EventLabel</key>
			<string>我的-我的客服点击</string>
			<key>EventId</key>
			<string>mine_click_customerservice</string>
		</dict>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>versionUpdate</key>
				<string>101</string>
			</dict>
			<key>EventLabel</key>
			<string>我的-版本更新点击</string>
			<key>EventId</key>
			<string>mine_click_version_update</string>
		</dict>
		<dict>
			<key>EventAttribute</key>
			<dict>
				<key>feedback</key>
				<string>102</string>
			</dict>
			<key>EventLabel</key>
			<string>我的-反馈点击</string>
			<key>EventId</key>
			<string>mine_click_feedback</string>
		</dict>
	</array>
	<key>TZPersonInfoController</key>
	<array>
		<dict/>
	</array>
	<key>TZWalletViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZCouponViewController</key>
	<array>
		<dict/>
	</array>
	<key>TZGameDetailViewController</key>
	<array>
		<dict>
			<key>EventSelectorName</key>
			<string>downloadPressed:</string>
			<key>EventId</key>
			<string>user_download_game</string>
			<key>EventLabel</key>
			<string>用户下载游戏</string>
		</dict>
	</array>
</dict>
</plist>
